@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}

/* Margin & Padding */
.pt-80 {
  padding-top: 80px;
}
.pb-80 {
  padding-bottom: 80px;
}

/* Section Title CSS */
.section-title {
  text-align: center;
  margin-bottom: 80px;
}
.section-title h2 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.section-title h2:before {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  background-color: #ff3636;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section-title h2:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ff3636;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  bottom: -4px;
}

/* Button CSS */
.box-btn {
  background-color: #ff3636;
  color: #fff;
  display: inline-block;
  padding: 10px 30px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}
.box-btn:hover {
  background-color: #333;
  color: #fff;
}
.box-btn i {
  position: absolute;
  left: 3px;
  top: 14px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.box-btn:hover i {
  left: 9px;
  opacity: 1;
  visibility: visible;
}

/* Header CSS */
.header-area {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 20px 0;
}
.header-area a {
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}
.header-area .navbar-brand {
  font-size: 30px;
  border: 1px solid #fff;
  padding: 10px 20px;
}
.navbar-nav li a:hover {
  color: tomato !important;
}

/* Banner CSS */

.banner-area {
  height: 100vh;
  position: relative;
  z-index: 5;
}
.banner-area:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  z-index: -1;
  opacity: 0.75;
}
.banner-area video {
  position: absolute;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-content {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  width: 100%;
  transform: translate(-50%, -50%);
}
.banner-content h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 80px;
}
.banner-content p {
  text-transform: capitalize;
  font-size: 24px;
}
.banner-content a {
  margin-top: 25px;
}

/* About CSS */

.about-content h4 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 700;
  color: #ff3636;
}
.about-content h5 {
  text-transform: capitalize;
  margin-bottom: 30px;
}
.about-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.about-content ul li {
  margin-bottom: 5px;
}
.about-content ul li i {
  color: #ff3636;
}
.about-content a {
  margin-top: 30px;
}

/* Services CSS */

.services-area {
  background-color: #f6f6f6;
}
.single-service {
  text-align: center;
  background-color: #fff;
  padding: 40px 20px;
  border: 1px solid #f2f2f2;
  margin-top: 30px;
  position: relative;
}
.single-service span {
  position: absolute;
  left: 10px;
  top: 20px;
  color: #f2f2f2;
  font-size: 70px;
  font-family: "Open Sans";
  font-weight: 700;
}
.single-service i {
  background-color: #ff3636;
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 25px;
  border-radius: 5px;
  transition: 0.3s;
}
.single-service h4 {
  margin: 15px 0;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}
.single-service:hover i {
  border-radius: 50%;
}

/* Projects CSS */

.single-project {
  position: relative;
  overflow: hidden;
}
.single-project img {
  width: 100%;
}
.project-hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  transform: scale(0) rotate(0);
}
.single-project:hover .project-hover {
  opacity: 1;
  visibility: visible;
  transform: scale(1) rotate(360deg);
}
.project-hover:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: 0.7;
  z-index: -1;
}
.project-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.project-content a {
  color: #fff;
  font-size: 35px;
  border-radius: ;
}
.project-content h4 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 30px;
  margin-top: 10px;
}
.project-content h4 span {
  display: block;
  text-transform: lowercase;
  font-size: 20px;
  font-weight: 400;
}

/* Counter CSS */

.counter-area {
  background-color: #333;
}
.counter-area .section-title {
  color: #fff;
}
.single-counter {
  color: #fff;
  text-align: center;
}
.single-counter i {
  background-color: #ff3636;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
}
.single-counter h4 {
  font-size: 40px;
  margin: 10px 0;
  font-weight: 700;
}
.single-counter p {
  text-transform: capitalize;
}

/* Timeline CSS */

.timeline {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.timeline:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #ff3636;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.timeline li {
  display: table;
  clear: both;
  position: relative;
}

.timeline-box {
  border: 2px solid #ff3636;
  padding: 20px;
  width: 45%;
  text-align: right;
}
.timeline li:nth-child(even) .timeline-box {
  float: right;
  text-align: left;
}
.timeline li:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ff3636;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.timeline-box span {
  font-size: 20px;
  color: #ff3636;
}
.timeline-box h4 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
}

/* Testimonials CSS */

.testimonilas-area {
  background-color: #333;
}
.testimonilas-area .section-title {
  color: #fff;
}
.single-testimonial {
  text-align: center;
  margin: 0 auto;
  color: #fff;
}
.single-testimonial img {
  border-radius: 50%;
  border: 1px dashed #ddd;
  padding: 3px;
  margin: 0 auto;
}
.single-testimonial p {
  margin-top: 20px;
}
.single-testimonial h4 {
  text-transform: capitalize;
  font-weight: 600;
}
.single-testimonial h4 span {
  display: block;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: 400;
  margin-top: 7px;
  font-style: italic;
}

.testimonilas-area .slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 30px;
}
.testimonilas-area .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.testimonilas-area .slick-dots li button {
  background-color: #ff3636;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-indent: -999999999px;
}
.testimonilas-area .slick-dots li.slick-active button {
  background-color: tomato !important;
}

/* Price CSS */
.price-area {
  background-color: #f6f6f6;
}

.single-price {
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 40px 20px;
  position: relative;
}
.single-price h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 26px;
}
.single-price h2 {
  font-weight: 800;
  font-size: 56px;
  margin: 20px 0;
}
.single-price ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.single-price ul li {
  border-bottom: 1px dashed #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.single-price ul li:last-child {
  border-bottom: 0;
}

.single-price::before,
.single-price::after {
  position: absolute;
  content: "";
  background-color: #ff3636;
  width: 3px;
  height: 0;
  transition: 0.3s;
}
.single-price::before {
  left: 0;
  top: 0;
}
.single-price:hover:before,
.single-price:hover:after {
  height: 100%;
}
.single-price::after {
  right: 0;
  bottom: 0;
}

/* Team CSS */

.single-team {
  position: relative;
  overflow: hidden;
}
.single-team img {
  width: 100%;
}
.team-social {
  position: absolute;
  left: 0;
  top: -64px;
  background-color: #333;
  width: 100%;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}
.team-social a {
  color: #fff;
  display: inline-block;
  margin: 0 15px;
  transition: 0.3s;
}
.team-social a:hover {
  color: #ff3636;
}
.team-content {
  position: absolute;
  left: 0;
  bottom: -106px;
  background-color: #333;
  width: 100%;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}
.team-content h4 {
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
}
.team-content h4 span {
  display: block;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 400;
}
.single-team:hover .team-social {
  top: 0;
}
.single-team:hover .team-content {
  bottom: 0;
}

/* Blog CSS */
.blog-area {
  background-color: #f6f6f6;
}

.single-blog {
  border: 1px solid #f2f2f2;
  background-color: #fff;
}
.single-blog img {
  width: 100%;
  transition: 0.3s;
}
.blog-content {
  padding: 20px;
}
.blog-content h4 {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}
.blog-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 15px;
  margin-top: 5px;
}
.blog-content ul li {
  display: inline-block;
  position: relative;
  margin-right: 15px;
  text-transform: capitalize;
  font-weight: 500;
  font-style: italic;
}
.blog-content ul li:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #333;
  top: 10px;
  left: 57px;
}
.blog-content ul li:last-child:after {
  display: none;
}
.blog-content ul li a {
  transition: 0.3s;
}
.blog-content ul li a:hover {
  color: #ff3636;
}
.blog-content h4 a {
  transition: 0.3s;
}
.blog-content h4 a:hover {
  color: #ff3636;
}
.single-blog:hover .blog-img img {
  transform: rotate(5deg) scale(1.1);
}
.blog-img {
  overflow: hidden;
}

/* CTA CSS */

.cta-area {
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #fff;
}
.cta-area:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: 0.85;
  z-index: -1;
}
.cta-area h4 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 700;
}

/* Contact CSS */

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}
.contact-form input[type="submit"] {
  background-color: #ff3636;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}
.contact-form input[type="submit"]:hover {
  background-color: #333;
}
.contact-address ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-address ul li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 12px;
}
.contact-address ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.contact-icon {
  margin-right: 35px;
  position: relative;
  margin-left: 20px;
}
.contact-icon:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background-color: #ff3636;
  transform: rotate(45deg);
  z-index: -1;
  text-align: center;
  left: -12px;
  top: -7px;
}
.contact-icon i {
  color: #fff;
}
.contact-address ul li h4 {
  text-transform: lowercase;
  font-weight: 500;
  font-size: 16px;
  margin-top: 5px;
}
.contact-address ul li h4 span {
  display: block;
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Footer CSS */

.footer-area {
  background-color: #333;
  color: #fff;
  padding: 60px 0;
}
.footer-area h4 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 10px;
}
.footer-area a {
  color: #fff;
  margin: 0px 30px;
  transition: 0.3s;
}
.footer-area a:hover {
  color: #ff3636;
}
.footer-area p {
  border-top: 1px solid #ccc;
  margin-top: 30px;
  padding-top: 30px;
  text-transform: capitalize;
  font-size: 16px;
}
